/* || VARIABLES AND FONTS */
@font-face {
  font-family: Inter;
  src: url(./../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
  font-weight: 400 800;
}
/* ---------- GENERAL STYLING ---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
  background-color: hsl(36, 100%, 99%);
  font-family: Inter, sans-serif;
  font-size: 15px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(3, minmax(1fr, 600px));
  row-gap: 75px;
}

button {
  font-family: inherit;
}

.btn {
  cursor: pointer;
}

.description {
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
}
.description--color-ofwhite {
  color: hsl(36, 100%, 99%);
}
.description--fontwght-lighter {
  font-variation-settings: "wght" 250;
}
.description--no-margin {
  margin: 0;
}

.article-title {
  margin-bottom: 0.4em;
  color: hsl(36, 100%, 99%);
}
.article-title--color-darkblue {
  color: hsl(240, 100%, 5%);
}

/* ---------- PAGE STYLING ---------- */
/* || HEADER SECTION */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
}
.header__logo {
  height: 35px;
}

.nav-mobile-wrapper {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: hsla(240, 100%, 5%, 0.4);
}

.nav {
  display: none;
}
.nav__menu {
  list-style-type: none;
}
.nav__menu li {
  margin-bottom: 25px;
  color: hsl(240, 100%, 5%);
  cursor: pointer;
}
.nav--mobile {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  padding: 2em 1.2em;
  width: 70vw;
  height: 100vh;
  background-color: white;
}
.nav--mobile__close-menu {
  display: block;
  margin: 0 0 100px auto;
}

/* || MAIN-ARTICLE SECTION */
.main-article__title {
  margin: 0.3em 0;
  color: hsl(240, 100%, 5%);
  font-size: 2.5rem;
  font-variation-settings: "wght" 800;
  line-height: 1;
}
.main-article__description {
  margin: 1em 0;
}
.main-article__read-more-button {
  height: 45px;
  width: 50%;
  border: none;
  background-color: hsl(5, 85%, 63%);
  color: hsl(36, 100%, 99%);
  font-variation-settings: "wght" 700;
  letter-spacing: 4px;
}
.main-article__hero {
  width: 100%;
}

/* || ASIDE ARTICLE */
.aside-article {
  padding: 1.5em 1em;
  background-color: hsl(240, 100%, 5%);
}
.aside-article__header {
  margin-bottom: 0.8em;
  font-size: 2rem;
  color: hsl(35, 77%, 62%);
}

.fresh-article {
  margin-bottom: 1.75em;
  padding-bottom: 1.25em;
  border-bottom: 1px hsl(236, 13%, 42%) solid;
}
.fresh-article--last-article {
  margin: 0;
  padding: 0;
  border: none;
}

/* || FEATURED ARTICLES SECTION */
.featured-articles-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 35px;
}

.featured-article {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.featured-article__thumbnail {
  height: 125px;
}
.featured-article__article-number {
  font-size: 2rem;
  color: hsl(236, 13%, 80%);
}
.featured-article__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* || ACCESSORIES */
.display-iblock {
  display: inline-block;
}/*# sourceMappingURL=style.css.map */