/* || VARIABLES, FONTS */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
$color: (
  "primary-magenta": hsl(300, 43%, 22%),
  "primary-pink": hsl(333, 80%, 67%),
  "neutral-darkmagenta": hsl(303, 10%, 53%),
  "neutral-lightmagenta": hsl(300, 24%, 96%)
);
$background: url(./../images/bg-pattern-top-desktop.svg), url(./../images/bg-pattern-bottom-desktop.svg);

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

/* || GENERAL STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include flexColumn();  
  justify-items: space-between;
  min-height: 100vh;
  width: 100%;
  padding-top: 100px;
  background: $background;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  font-family: 'League Spartan';
  font-size: 15px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, minmax(1fr, 2fr));
  gap: 50px;
  max-width: 1100px;
  margin: auto;
}

/* || OPENING SECTION */
.opening {
  width: 75%;
  h1 {
    color: map-get($color, primary-magenta);
    font-size: 3.4rem;
  }

  p.description {
    padding-top: 20px;
    color: map-get($color, neutral-darkmagenta);
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.25;
  }
}

/* || RATING ITEM */
.rating {
  width: 100%;
  .rating-item {
    display: flex;
    align-items: center;  
    width: 100%;
    max-width: 420px;
    margin-bottom: 15px;
    padding: 16px;
    border-radius: 8px;
    gap: 10px;
    background-color: map-get($color, neutral-lightmagenta);
    color: map-get($color, primary-magenta);
    font-size: 1rem;
    font-weight: 700;
  }

  #item-2 { margin-left: 50px; }
  #item-3 { margin-left: 100px; }

  .stars { margin: 0 25px 0 10px; }
}

/* || TESTIMONY SECTION */
.testimony {
  grid-column-start: 0;
  grid-column-end: span 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  flex-wrap: wrap;
  
  #card-2 { margin-top: 15px; }
  #card-3 { margin-top: 30px; }

  article {
    height: 225px;
    max-width: 350px;
    padding: 2.5em 2em 0;
    border-radius: 10px;
    background-color: map-get($color, primary-magenta);
    color: white;

    .card-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1.5em;

      img {
        height: 40px;
        width: auto;
        border-radius: 50%;
      }
      
      .name {
        margin-left: 1em;
        font-size: 1rem;
        font-weight: 700;
        
        span {
          display: block;  
          margin-top: 3px;      
          color: map-get($color, primary-pink);;
          font-weight: 400;
        }
      }
    }

    p {
      font-weight: 500;
      line-height: 1.3;

      &::before { content: open-quote; }
      &::after { content: close-quote; }
    }
  }
}

/* || FOOTER */
.attribution {
  margin-top: 20px;
  font-size: 11px;
  text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%); }

/* || ACCESSORIES */
.star {
  display: inline-block;
  height: 17px;
  width: 17px;
  margin-right: 7.5px;
  background: url(./../images/icon-star.svg) no-repeat;
}

/* || MEDIA QUERIES */
@media screen and (max-width: 1100px) {
  body { padding-top: 50px;}

  main {
    @include flexColumn();
    align-items: center;
    max-width: 350px;
    text-align: center;
    gap: 40px;
    
    .opening { 
      width: 100%; 
      h1 { font-size: 2.5rem; }
      .description { font-size: 1.2rem;}
    }
  }

  .rating {
    #item-2, #item-3 { margin-left: 0; }
    .rating-item { flex-direction: column; }
  }

  .testimony {
    row-gap: 15px;
    text-align: left;

    #card-2, #card-3 { margin-top: 0; }
  }
}